<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <JDBC name="databaseAppender" tableName="app_logs">
            <DataSource jndiName="java:/comp/env/jdbc/YourDataSource" />
            <ConnectionSource class="org.apache.logging.log4j.core.appender.db.DataSourceConnectionSource" 
                              driver="com.mysql.cj.jdbc.Driver" 
                              url="jdbc:mysql://localhost:3306/shop" 
                              username="root" 
                              password="password">
                <PoolingDriver driver="com.mysql.cj.jdbc.Driver" 
                               url="jdbc:mysql://localhost:3306/shop" 
                               username="root" 
                               password="password" />
            </ConnectionSource>
            <Column name="id" isEventTimestamp="true" />
            <Column name="timestamp" isEventTimestamp="true" />
            <Column name="log_level" pattern="%level" />
            <Column name="logger_name" pattern="%logger" />
            <Column name="message" pattern="%message" />
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="*">
            <AppenderRef ref="databaseAppender" />
        </Root>
    </Loggers>
</Configuration>
